# Generally ignores everything except the files under the following directories
/*

!/source/
!/dependencies/
!.gitignore
!.gitmodules
!LICENSE
!README.md
!program.clang.build

# Ignores all binary files
*.exe
*.dll
*.o